body {
  padding: 50px;
  font: 14px "Courier New", Helvetica, Arial, sans-serif;
}
label, input {
  display: block;
}
input, select {
  margin-bottom: 16px;
}
.info-row, .info-container {
  display: flex;
}
.info-row {
  flex: 1;
}
.label {
  font-weight: bold;
  margin-right: 8px;
}
.info-container {
  gap: 16px;
}
.name-row {
  font-size: 20px;
}
.card p {
  margin: 6px;
}
.card {
  border: 1px solid #999999;
  border-radius: 8px;
  max-width: 400px;
  padding: 16px;
}
.title {
  display: flex;
  justify-content: center;
  font: 30px "Microsoft Yi Baiti", Helvetica, Arial, sans-serif;
  color: black;
  padding: 5px;
  margin: 7px;
}
.address-text p{
  padding: 0;
  margin: 0;
}
.address-text p:first-child {
  margin-top: 6px;
}
.address-text p:last-child {
  margin-bottom: 6px;
}
.card.premium {
  border: 2px solid #d7ac57;
  background-color: #fffcde;
  color: #b08838;
}
.card.standard {
  border: 2px solid #999999;
  background-color: #e6e6e6;
  color: #575757;
}
.card.bronze {
  border: 2px solid #714740;
  background-color: #fff3de;
  color: #52312b;
}
.label {
  color: black;
}
